/* general */
body {
  font-family: "Handlee", cursive;
}
:root {
  --hue: 172;
  --saturation: 100%;
  --lightness: 44%;
  --main-color: hsl(var(--hue), var(--saturation), var(--lightness));
  /* --main-color: #00dfc0; */
  --text-color: #454b54;
  --white-color: #fff;
}
.to-do-list {
  background-image: url("src\assets\login-bg.png");
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
}
.to-do-list .container {
  min-height: 100vh;
}
.to-do-list .container .to-do-list-body {
  min-height: calc(100vh - 100px);
  width: 800px;
}
.to-do-list .container .to-do-list-body .dots {
  position: absolute;
  left: 0;
  height: 100%;
}
.dot {
  position: relative;
  height: 30px;
  width: 30px;
  background-color: var(--main-color);
  border-radius: 50%;
  margin: 5px 10px;
  z-index: 9999999;
}
.to-do-list .container .to-do-list-body .to-do-list-header {
  background-image: url("https://drive.google.com/uc?export=view&id=1_uIEZyB6-i3sPZN_i-jZEEZ86PHa7Vju");
  background-position: center -400px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  border-radius: 2rem !important;
}
.to-do-list .container .to-do-list-body .to-do-list-tasks {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  background-color: #ffffff;
  opacity: 0.8;
  background-size: 20px 20px;
  background-image: -o-repeating-linear-gradient(
    bottom,
    var(--main-color),
    var(--main-color) 1px,
    var(--white-color) 1px,
    var(--white-color)
  );
  background-image: repeating-linear-gradient(
    0deg,
    var(--main-color),
    var(--main-color) 1px,
    var(--white-color) 1px,
    var(--white-color)
  );
  border-radius: 2rem !important;
}
.to-do-list .container .to-do-list-body .to-do-list-tasks .title {
  color: var(--text-color);
}
.to-do-list .container .to-do-list-body .to-do-list-tasks h1 {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 15px;
}
.to-do-list .container .to-do-list-body .to-do-list-tasks h1::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: var(--main-color);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
}
.to-do-list .container .to-do-list-body .to-do-list-tasks .input-group {
  width: 80%;
  margin: 15px auto;
}
.to-do-list .container .to-do-list-body .to-do-list-tasks .input-group input {
  background: no-repeat;
  border: none;
  border-bottom: 2px solid #4b49ac;
  color: black;
  caret-color: #4b49ac;
}
.to-do-list .container .to-do-list-body .to-do-list-tasks .input-group button {
  background-color: #4b49ac;
  color: white;
  border: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.to-do-list
  .container
  .to-do-list-body
  .to-do-list-tasks
  .input-group
  button:hover {
  background-color: var(--text-color);
  color: var(--main-color);
}
.to-do-list
  .container
  .to-do-list-body
  .to-do-list-tasks
  .input-group
  input::-webkit-input-placeholder {
  color: var(--text-color) !important;
}
.to-do-list
  .container
  .to-do-list-body
  .to-do-list-tasks
  .input-group
  input::-moz-placeholder {
  color: var(--text-color) !important;
}
.to-do-list
  .container
  .to-do-list-body
  .to-do-list-tasks
  .input-group
  input:-ms-input-placeholder {
  color: var(--text-color) !important;
}
.to-do-list
  .container
  .to-do-list-body
  .to-do-list-tasks
  .input-group
  input::-ms-input-placeholder {
  color: var(--text-color) !important;
}
.to-do-list
  .container
  .to-do-list-body
  .to-do-list-tasks
  .input-group
  input::placeholder {
  color: var(--text-color) !important;
}
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.table {
  width: 80%;
  margin: 0 auto !important;
  background: transparent;
  border: transparent;
  text-align: center;
}
.table th {
  background-color: transparent;
}
.table th.w-50 {
  width: 50%;
}
.table tbody i {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.table tbody i.fa-solid.fa-square-check {
  color: var(--main-color);
}
.table tbody i.fa-solid.fa-square-check:hover {
  color: var(--white-colorr);
}
.table tbody i.fa-regular.fa-square-check:hover {
  color: var(--main-color);
}
.table tbody i.fa-trash-can:hover {
  color: red;
  -webkit-animation: shake 1s ease 0s infinite normal forwards;
  animation: shake 1s ease 0s infinite normal forwards;
}
.wavy {
  -webkit-text-decoration: line-through var(--main-color) wavy;
  text-decoration: line-through var(--main-color) wavy;
}
.bg-main-color {
  --main-color: hsla(var(--hue), var(--saturation), var(--lightness), 0.1);
  background-color: var(--main-color) !important;
}
/* animation */
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  10% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }

  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  80% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }

  90% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  10% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }

  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  80% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }

  90% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
}

.c-two {
  background-color: #4b49ac;
  color: white;
}
