<!-- weather.component.html -->
<div class="weather-container">
    <img src="https://img.freepik.com/free-vector/family-hiking-location-app-father-mother-children-walking-outdoors-carrying-backpacks-picnic-basket-vector-illustration-camping-adventure-travel-active-hikers-topics_74855-8355.jpg?w=826&t=st=1707393815~exp=1707394415~hmac=21af2a88da4e569dbb3eabeb4f5915adca07b7d37020b9f695c77a345769d0b7" alt="Weather Image" class="weather-image">
    <div class="weather-overlay d-flex">
      <p class="celsius "> {{ weatherData.temperature }}°C </p>
      <div class="cityName">
          <p class="city m-0">{{ weatherData.city }}</p>
          <p class="des m-0"> {{ weatherData.description }}</p>
    </div>
        
   
    </div>
  </div>
  