* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url("src\assets\login-bg.png") no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .wrapper {
    width: 300px;
    height: 525px;
    margin: 0 auto;
    background: transparent;
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #231657;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px 40px;
  }
  
  .wrapper .title {
    font-size: 30px;
    text-align: center;
    color: #231657;
  }
  
  .wrapper .inputBox {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
  }
  
  .inputBox input {
    width: 100%;
    height: 100%;
    outline: none;
    background: transparent;
    border: 2px solid rgb(189 180 180 / 20%);
    border-radius: 40px;
    padding-left: 16px;
  }
  
  .inputBox i {
    position: absolute;
    right: 0px;
    top: 50%;
    font-size: 20px;
    transform: translateY(-50%);
  }
  
  .inputBox input::placeholder {
    color: #231657;
  }
  .rememberBox {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: -15px 0 15px;
  }
  
  .rememberBox label input {
    accent-color: #231657;
    margin: 3px;
  }
  
  .btn {
    width: 60%;
    height: 40px;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background: #231657;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 0 10px rgb(8 6 6 / 10%);
  }
  
  .register {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
  }
  
  .inputBox input::placeholder {
    padding: 5px 0px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color: #231657;
  }
  