<div class="col-md grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <p class="card-title">Sales Report</p>
        <a href="#" class="text-info">View all</a>
      </div>
      <p class="font-weight-500">
        The total number of sessions within the date range. It is the period
        time a user is actively engaged with your website, page or app, etc
      </p>
      <div class="sect"></div>

      <canvas id="canvas">{{ chart }}</canvas>
    </div>
  </div>
</div>
